@model CompassionWebApp.Models.Tb_Usuarios

@{
    ViewBag.Title = "Create - Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<CompassionWebApp.Models.Tb_CDI> lstCDI = (List<CompassionWebApp.Models.Tb_CDI>)ViewBag.lstCDI;
}

<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <!--begin::Dashboard-->
            <!--begin::Row-->
            <div class="row">
                <div class="col-xl-12">
                         <a href="@Url.Action("Index","Usuarios")" class="btn btn-primary btn-sm">Volver</a><br /><br />
                    <h2>Usuarios</h2>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                       
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                               <label class="control-label col-md-12">Correo</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-12">Contraseña</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-12">Nombre de usuario</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Nombre_completo, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                    @Html.ValidationMessageFor(model => model.Nombre_completo, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-12">País</label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Pais, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                                    @Html.ValidationMessageFor(model => model.Pais, "", new { @class = "text-danger" })
                                </div>
                            </div>



                            <div class="form-group">
                                @Html.LabelFor(model => model.Roles, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-10">
                                    <select class="form-control" name="Roles" id="Roles">
                                        <option value="Administrador">Administrador</option>
                                        <option value="CDI">CDI</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CDI, htmlAttributes: new { @class = "control-label col-md-12" })
                                <div class="col-md-10">
                                    <select class="form-control" name="CDI" id="CDI">
                                      @foreach (var item in lstCDI) {
                                        <option value="@item.FCPID">@item.NombreCDI</option>
                                      }
                                    </select>
                                </div>
                            </div>

                           

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Guardar" class="btn btn-success" />
                                </div>
                            </div>
                        </div>
                    }

              
                </div>
            </div>
        </div>
    </div>
</div>