@model IEnumerable<CompassionWebApp.Models.Tb_Resultados>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <!--begin::Dashboard-->
            <!--begin::Row-->
            <div class="row">
                <div class="col-xl-12">
                    <h2>Resultados</h2>

                    <a href="@Url.Action("Create","Resultados")" class="btn btn-success ">Nuevo</a>
                    <br />
                    <br />
                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Codigo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Descripcion)
                            </th>
                            <th>
                                Actividad Secundaria
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Activo)
                            </th>

                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Codigo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tb_ActividadesSecundarias.Nombre_corto)
                            </td>
                            <td>
                                @if (item.ID_resultado != 1)
    {
        if (item.Activo)
        {
                            <span class="label label-success label-dot mr-2"></span>
                            <span class="font-weight-bold text-success">Si</span>
}
else
{ <span class="label label-danger label-dot mr-2"></span>
                            <span class="font-weight-bold text-danger">No</span>}
}
                            </td>

                            <td>
                                @if (item.ID_resultado != 1)
        {
                        <a href="@Url.Action("Edit","Resultados", new { id=item.ID_resultado})">Editar |</a>
if (item.Tb_ActividadesBeneficiarios.Select(c => c.ID_actividadPrincipal == item.ID_resultado).Count() > 0)
{<label class="badge badge-warning">Registro cuenta con transacciones y no puede ser eliminado</label> }
else
{
                        <a href="@Url.Action("Delete","Resultados", new { id=item.ID_resultado})">Eliminar</a>
}

}
                            </td>
                        </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
